.image-container{
    width: 100%;
    height: auto;
    animation: fade 2s;
}

.image-container img{
    width: 100%;
}

.introduction table{
    margin-top: 2%;
    margin-bottom: 2%;
    width : 100%
}

.introduction-pic>img{
    border: 2px solid black;
    margin-top: auto;
    margin-bottom: auto;
    border-radius: 20px;
    transition:ease-in 1s;
    transform:rotate(360deg);
    width: 90%;
    animation-name: boxshadow-colour;
    animation-duration:2s;
    animation-iteration-count: infinite;
}
/*changes color and create textshadow for texts*/
#textshadow{
    color: rgb(206, 143, 66);
    text-shadow: 1px 1px rgb(116, 116, 116);
    background-color:ghostwhite;
}

.story-image{
    background-image: url(../AboutUs/awards-splash-mobile-min.png);
    background-repeat:no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
}
.product-table table{
    table-layout: fixed;
    width : 100%;
    margin-bottom: 0px;
}

.product-table table:hover{
    background:linear-gradient(to bottom,#000000,#434343);
    color: rgb(255, 255, 255);
}

.product-table table:hover td a{
    color: rgb(255, 255, 255);
}

.product-table tr th ,.product-table tr td{
    text-align: center;
    padding-top: 50px;
}

.product-table th{
    font-size: 80px;
    transition: ease-in;
    transition-duration: 0.5s;
}

.product-table tr td img{
    height:300px;
    animation: boxshadow-colour 2s infinite;
    border: 2px solid grey;
}
.product-table td a {
    color: black;
    text-decoration: none;
}

.product-table td a:hover{
    text-decoration: underline;
}
/*makes the img bigger when hovered to create interaction*/
.product-table tr td img:hover{
    height:350px;
}

#productbutton{
    padding-top: 20px;
    padding-bottom: 30px;
}

#productbutton a{
    padding: 10px;
    background: linear-gradient(to right,#8e9eab,#eef2f3);
    color: black;
    border-radius: 200px;
}
/*makes the productbutton changes its color and create shadow when hovered to create interaction*/
#productbutton a:hover{
    padding:15px;
    color: rgb(21, 111, 146);
    background-color: ghostwhite;
    box-shadow:5px 5px 10px whitesmoke;
}

/*align the title text at center and increase opacity of image using rgba in the div */
.title{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: rgba(22, 22, 22, 0.6);
    height: 100vh;
    width: 100%;
    font-size: 4em;
    color: rgb(241, 241, 241);
    transition: ease-in 0.5s;
    text-shadow: 3px 3px black;
}

/*changes the color of text and background color to create interaction when hovered making 
the picture blured using brighter color for background color*/
.title:hover{
    color: black;
    background-color: rgba(241, 241, 241,0.6);
    text-shadow: 3px 3px white;
}
.products-image{
    background-image: url(../AboutUs/please-take-a-seat.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
}


/*change the background color and color of texts when hovered*/
.social-media table:hover{
    background:linear-gradient(to bottom,#4CA1AF,#C4E0E5);
    color: rgb(241, 241, 241);
}

/*making the table layout fixed to ensure the spaces between each columns are consistant*/
.social-media table{
    width: 100%;
    table-layout: fixed;
    background-color: rgb(233, 233, 233);
}

.social-media table th,.social-media tr td{
    text-align:center;
    padding-top: 2%;
}

/*creates box shadow when hovered to provide interaction*/
.social-media table img:hover{
    width: 52px;
    height: 52px;
}

.social-media a{
    color: black;
    text-decoration: none;
}

/*changes the link color when hovered*/
.social-media a:hover{
    color: rgb(220, 220, 220);
}
#secretlab-logo td{
    padding-bottom: 2%;
}
#secretlab-logo a img{
    width:400px;
    height: 125px;
}

#secretlab-logo a img:hover{
    width:450px;
    height: 150px;
}

.social-media th{
    font-size: 40px;
    transition:ease-in 0.5s;
}

.social-media td img{
    text-align: center;
}

.partnership-image{
    background-image: url(../AboutUs/partnership.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    margin-top: 0px;
}

.awards-image{
    background-image: url(../AboutUs/awards.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
}

.paragraph{
    margin-top:0px;
    margin-bottom:2%;
    text-align:justify;
    font-size: 15pt;
    max-width: 100%;
    padding: 10px;
    font-family:Arial, Helvetica, sans-serif;
    background: linear-gradient(to bottom, #C2C2C2 0%,#E9E8E8 50%,#FFFFFF 100%)
}
.paragraph a {
    text-decoration: none;
    color:lightskyblue ;
}
.paragraph a:hover{
    text-decoration: underline;
}
.paragraph>h2{
    text-decoration: underline;
    transition: linear;
    transition-duration: 0.5s;
}
.paragraph>ul{
    padding-top: 10px;
    padding-left: 30px;
    list-style: square;
    display:list-item;
}
.awards a{
    text-decoration: none;
    color: black;
}
.awards a:hover{
    color: rgb(107, 92, 194)
}

.copyright{
    float: left;
    padding-bottom: 0px;
    bottom: 0px;
    width: 100%;
    color: aliceblue;
}

span{
    font-size: 15px;
}

.select a{
    text-decoration: none;
    color: deepskyblue;
}
.select a:hover{
    text-decoration: underline;
}
.select a:visited{
    color: deepskyblue;
}

/*hiding the images*/
#hide{
    display: none;
    max-height: 300px;
    max-width: 300px;
    border-radius: 5px;
    border-style: solid;
    border-color: grey;
    float: right;
}
/*display the hiding images that is placed immediately after <a> elements after hovering the link */
.select a:hover + #hide{
    display:block;
    animation: boxshadow-colour 2s infinite;
} 
/*keep changing the boxshadow colour and radius in the certain time*/
@keyframes boxshadow-colour{
    0%{box-shadow: 5px 5px 10px rgb(59, 59, 59)}
    10%{box-shadow: 5.5px 5.5px 10px rgb(59, 59, 59)}
    20%{box-shadow: 6px 6px 10px rgb(102, 102, 102)}
    30%{box-shadow: 6.5px 6.5px 10px rgb(209, 209, 209)}
    40%{box-shadow: 7px 7px 10px rgb(220, 220, 220)}
    50%{box-shadow: 7.5px 7.5px 10px rgb(241, 241, 241)}
    60%{box-shadow: 7px 7px 10px rgb(209, 209, 209)}
    70%{box-shadow: 6.5px 6.5px 10px rgb(155, 155, 155)}
    80%{box-shadow: 6px 6px 10px rgb(102, 102, 102)}
    90%{box-shadow: 5.5px 5.5px 10px rgb(59, 59, 59)}
    100%{box-shadow:5px 5px 10px rgb(0, 0, 0)}
}

/*showing the certain element gradually from blur to clear*/
@keyframes fade{
    from{opacity: 0;}
    to{opacity: 1;}
}

@keyframes boxcolor{
    from{ background: linear-gradient(to bottom right,#ddd6f3,#faaca8 );}
    to{ background: linear-gradient(to bottom right,#faaca8,#ddd6f3 );}
}

.box{
    height: 475px;
    width: 600px;
    margin: 40px 20px 40px 20px;
    background: linear-gradient(to bottom right,#ddd6f3,#faaca8);
    padding: 40px;
    
    line-height: 40px;
    text-indent: 30px;
    color: rgb(0, 0, 0);
    font-size: 1.5em;
    text-shadow: 2px black;
    font-weight: bold;

    border-radius: 50px;
    box-shadow: 5px 5px 10px #FFFFFF;
}

.box:hover{
    animation: boxcolor 1s infinite;
    box-shadow: 5px 5px 20px #FFFFFF;
}

.flex-container{
    display: flex;
    background-image: url(../AboutUs/snene.jpg);
    background-repeat: no-repeat;
    width: 100%;
    height: 170vh;
    justify-content: center;
}

.row{
    display: flex;
    flex-flow: row wrap;
}

.column{
    display: flex;
    flex-flow: column wrap;
}
