* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /*measures width from borders instead of content*/
  }

@keyframes fade-in {
    from { opacity: 0;}
    to { opacity: 1; }
  }

@keyframes shift-in-left {
    from {
        position: relative;
        right: 800px;
    }
    to {
        position: relative;
        right: 0px;
    }
}

.navbar-container {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  width: 100%;
  padding: 30px;
  position: fixed;
  z-index: 1;
  background-color:rgba(189, 189, 189, 0.6);
}

#navbar-logo {
  transition: box-shadow 0.5s ease;
}

#navbar-logo:hover {
  box-shadow: 
      5px 5px 20px 10px honeydew,
      -5px -5px 20px 10px honeydew,
      inset 5px 5px 20px 10px honeydew,
      inset -5px -5px 20px 10px honeydew;
}

.links-container {
  margin-left: 200px;
  display: flex;
  align-items: center;
  transition: margin-left 1s ease;
}

.dropdown {
  display: none;
}

.links a:hover + .dropdown, /*Uses + to select dropdown as 'links a' and dropdown on equal hierarchy*/
.dropdown:hover {
  display: block;
}

ul {
  list-style: none;
  position: absolute;
}

.links {
  display: inline-block;
}

.links a {
  color:  #56504E;
  display: block;
  padding: 30px;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  transition:
    background-color 0.2s ease,
    font-size 0.2s ease;
}

.links:hover a { 
  background-color:honeydew;
  font-size: 18px;
}

.option a {
  padding: 20px;
  font-size: 18px;
  transition:
    background-color 0.2s ease,
    color 0.2s ease,
    font-size 0.2 ease;
}

.links:hover .option:hover a {
  background-color:rgb(191, 207, 191);
  color: maroon;
  font-size: 16px;
}

a:visited {
  color:  #56504E;
}

.hero-image-container {
  line-height: 0;
}

.feature-model-container {
  line-height: 0;
}

.feature-model-description {
  position: absolute;
  top: 1100px;
  right: 10px; 
  width: 52%;
  padding: 40px;
  background: rgba(255, 255, 255, 0.4);
  font-style: italic;
  line-height: 1;
}

#feature-model-title, #hero-image-title {
  font-size: 50px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding-bottom: 30px;
}

#feature-model-text, #hero-image-text {
  font-size: 30px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.hero-image-description {
  position: absolute;
  top: 240px;
  left: 10px; 
  width: 52%;
  padding: 40px;
  background: rgba(255, 255, 255, 0.4);
  font-style: italic;
  line-height: 1;
}

.hero-image-button {
  position: absolute;
  top: 475px;
  left: 220px; 
  width: 150px;
  height: 70px;
  text-transform: uppercase;
  line-height: 1;

  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-weight: bold;
  padding: 26px 20px 26px 20px;
  text-decoration: none;
  color: #56504E;
  background-color: #EAEAEA;
  text-align: center;
}

.hero-image-button:hover {
  background-color: honeydew;
  color:maroon;
  text-decoration: none;
  box-shadow: 5px 5px 5px 5px rgba(230, 238, 162, 0.2);
}

.feature-model-button {
  position: absolute;
  top: 475px;
  left: 250px; 
  width: 150px;
  height: 70px;
  text-transform: uppercase;
  line-height: 1;

  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-weight: bold;
  padding: 26px 20px 26px 20px;
  text-decoration: none;
  color: #56504E;
  background-color: #EAEAEA;
  text-align: center;
}

.feature-model-button:hover {
  background-color: honeydew;
  color:maroon;
  text-decoration: none;
  box-shadow: 5px 5px 5px 5px rgba(230, 238, 162, 0.2);
}

.video-container {
  height: 1400px;
  display: flex;
  flex-direction: column;
}

#video1, #video2 {
  width: 60%;
  pointer-events: none;
  flex: 3;
}

.comfort, .robust, .cozy, .solid {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 50px;
  font-weight: bolder;
  flex: 2;
  background-color: rgb(0, 0, 0);
  color:rgb(255, 255, 255);

  display: flex;
  justify-content: center;
  align-items: center;
}

.video-card1, .video-card2, .video-card3 {
  display: flex;
  flex-direction: row;
}

.comfort {
  transition: 
    background-color 2s ease-in,
    color 2s ease-in;
}

.comfort:hover {
  background-color: #FFFF76;
  color: rgb(0, 0, 0);
  transition: 
    background-color 2s ease-out,
    color 2s ease-out;
}

.robust {
  transition: 
    background-color 2s ease-in,
    color 2s ease-in;
}

.robust:hover {
  background-color: rgb(134, 143, 224);
  color: rgb(0, 0, 0);
  transition: 
    background-color 2s ease-out,
    color 2s ease-out;
}

.cozy {
  padding: 7%;
  transition: 
    background-color 2s ease-in,
    color 2s ease-in;
}

.cozy:hover {
background-color: rgb(255, 230, 162);
color: rgb(0, 0, 0);
transition: 
  background-color 2s ease-out,
  color 2s ease-out;
}

.solid {
  transition: 
  background-color 2s ease-in,
  color 2s ease-in;
}

.solid:hover {
  background-color: rgb(255, 180, 255);
  color: rgb(0, 0, 0);
  transition: 
    background-color 2s ease-out,
    color 2s ease-out;
}

.footer-container {
  background-color: rgba(153, 153, 153);
  height: 350px;
  padding: 80px;
  display: flex;
  flex-direction: row;
}

.footer-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex: 1.5;
}

.footer-links p {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
  font-weight: bolder;
  padding-bottom: 10px;
}

.footer-links a {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 15px;
  font-weight: bold;
  text-decoration: none;
  padding-bottom: 10px;
  color: rgb(70, 70, 70);
}

.footer-links a:hover {
  color: rgb(0, 0, 0);
}

table {
  width: 100%;
}

th,td {
  font-size: 25px;
  padding-left: 30px;
  text-align: left;
}

.footer-images {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-left: 100px;
}

#footer-logo {
  width: 200px;
  transition: box-shadow 0.5s ease;
}

#footer-logo:hover {
  box-shadow: 
  5px 5px 20px 10px honeydew,
  -5px -5px 20px 10px honeydew,
  inset 5px 5px 20px 10px honeydew,
  inset -5px -5px 20px 10px honeydew;
}

.icons-container {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  margin-left: 5px;
}

.icons-container .option a {
  width: 200px;
}

.icons-container .links a {
  font-size: 15px;
  padding: 7px;
  margin-right: 5px;
}

.icons-container .links:hover .option:hover a  {
  font-size: 15px;
}
