* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.navbar-container {
    display: flex;
    width: 100%;
    padding: 30px;
    position: fixed;
    background-color:rgba(189, 189, 189, 0.6);
    z-index: 10;
}
.links-container {
  margin-left: 200px;
  display: flex;
  align-items: center;
  border-radius: 20px;
  transition-duration: 1s;
}
.links-container ul {
  list-style-type:none;
  margin:0;
  padding: 0;
  position: absolute;
}
.links-container li {
  display: inline-block;
  margin-right: 1px;
}
.links-container li a {
  display: block;
  min-width: 150px;
  margin-right: 1px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  font-family: Arial, Helvetica, sans-serif;
  color:  #56504E;
  text-decoration: none;
  font-size: 20px;
}
.links-container li:hover a {
  background:honeydew;
  transition-duration: 0.3s;
  font-size: 18px;
}

.links-container li:hover ul a {
  background:rgba(233, 233, 233, 1);
  color: #56504E;
  height: 40px;
  line-height: 40px;
  font-size: 18px;
}

.links-container li:hover ul a:hover {
  background: honeydew;
  color: maroon;
  transition-duration: 0.3s;
  font-size: 16px;
}
.links-container li ul {
  display: none;
}
.links-container li ul li {
  display: block;
  float: none;
}
.links-container li ul li a {
  width: auto;
  min-width: 200px;
  padding: 0 20px;
}

.links-container ul li a:hover + .hidden, .hidden:hover {
  display: block;
}

@media screen and (max-width : 760px){
  ul {
        position: static;
        display: none;
  }
  
  li {
        margin-bottom: 1px;
  }
  
  ul li, li a {
        width: 100%;
  }

    .show-menu {
        display:block;
  }
}

a:visited {
  color: purple;
}
.hero-image-container {
line-height: 0;
}
.feature-model-container {
line-height: 0;
}
.feature-model-description {
  position: absolute;
  top: 1100px;
  right: 10px; 
  width: 52%;
  padding: 40px;
  background: rgba(255, 255, 255, 0.4);
  font-style: italic;
  line-height: 1;
}
#feature-model-title, #hero-image-title {
  font-size: 50px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding-bottom: 30px;
}
#feature-model-text, #hero-image-text {
  font-size: 30px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.hero-image-description {
  position: absolute;
  top: 240px;
  left: 10px; 
  width: 52%;
  padding: 40px;
  background: rgba(255, 255, 255, 0.4);
  font-style: italic;
  line-height: 1;
}
.hero-image-button {
  position: absolute;
  top: 475px;
  left: 220px; 
  width: 150px;
  height: 70px;
  text-transform: uppercase;
  line-height: 1;

  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-weight: bold;
  padding: 26px 20px 26px 20px;
  text-decoration: none;
  color: #56504E;
  background-color: #EAEAEA;
  text-align: center;
}
.hero-image-button:hover {
  background-color: honeydew;
  color:maroon;
  text-decoration: none;
  box-shadow: 5px 5px 5px 5px rgba(230, 238, 162, 0.2);
}
.feature-model-button {
  position: absolute;
  top: 475px;
  left: 250px; 
  width: 150px;
  height: 70px;
  text-transform: uppercase;
  line-height: 1;

  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-weight: bold;
  padding: 26px 20px 26px 20px;
  text-decoration: none;
  color: #56504E;
  background-color: #EAEAEA;
  text-align: center;
}
.feature-model-button:hover {
  background-color: honeydew;
  color:maroon;
  text-decoration: none;
  box-shadow: 5px 5px 5px 5px rgba(230, 238, 162, 0.2);
}
.video-container {
  height: 1400px;
  display: flex;
  flex-direction: column;
}
#video1, #video2 {
  width: 60%;
  pointer-events: none;
  flex: 3;
}
.comfort, .robust, .cozy, .solid {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 50px;
  font-weight: bolder;
  flex: 2;
  background-color: rgb(0, 0, 0);
  color:rgb(255, 255, 255);

  display: flex;
  justify-content: center;
  align-items: center;
}
.video-card1, .video-card2, .video-card3 {
  display: flex;
  flex-direction: row;
}
.comfort {
  transition: 
    background-color 2s ease-in,
    color 2s ease-in;
}
.comfort:hover {
  background-color: #FFFF76;
  color: rgb(0, 0, 0);
  transition: 
    background-color 2s ease-out,
    color 2s ease-out;
}
.robust {
  transition: 
    background-color 2s ease-in,
    color 2s ease-in;
}
.robust:hover {
  background-color: rgb(134, 143, 224);
  color: rgb(0, 0, 0);
  transition: 
    background-color 2s ease-out,
    color 2s ease-out;
}
.cozy {
  padding: 7%;
  transition: 
    background-color 2s ease-in,
    color 2s ease-in;
}
.cozy:hover {
background-color: rgb(255, 230, 162);
color: rgb(0, 0, 0);
transition: 
  background-color 2s ease-out,
  color 2s ease-out;
}
.solid {
  transition: 
  background-color 2s ease-in,
  color 2s ease-in;
}
.solid:hover {
  background-color: rgb(255, 180, 255);
  color: rgb(0, 0, 0);
  transition: 
    background-color 2s ease-out,
    color 2s ease-out;
}
.footer-container {
  background-color: rgba(153, 153, 153);
  height: 300px;
  width: 100%;
  padding: 80px;
}
.footer-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 70%;
}
.footer-links p {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
  font-weight: bolder;
  padding-bottom: 10px;
}
.footer-links a {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 15px;
  font-weight: bold;
  text-decoration: none;
  padding-bottom: 10px;
  color: rgb(70, 70, 70);
}
.footer-links a:hover {
  color: rgb(0, 0, 0);
}
.product, .reviews, .aboutus, .contactus {
  display: flex;
  flex-direction: column;
}
.nav-img-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 120px;
  margin-top: 5px;
}
